.background-img {
    background: url("../image/background.png");
}

body {
    height: 100vh;
}

.image-context {
    width: 200px;
    height: 160px;
}

.bg-color{
    background: #360557;
}

#main-context{
    background-image: linear-gradient(to right top, #3f8efc, #5080ff, #716dff, #9751ff, #be0aff);
}
