.background-img {
    background: url("../image/background.png");
}

body {
    height: 100vh;
}

.image-context {
    width: 200px;
    height: 160px;
}

.bg-color{
    background: #360557;
}

#main-context{
    background-image: linear-gradient(to right top, #3f8efc, #5080ff, #716dff, #9751ff, #be0aff);
}

main{
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
