*{
    font-family: 'Poppins', sans-serif;
}

.background-img {
    background: url("../image/background.png");
}

body {
    height: 100vh;

}

.image-context {
    width: 200px;
    height: 160px;
}

.bg-color {
    background: #f8f6ff;
}

#main-context {
    /*background: url("../image/context.jpg") !important;*/
    /*background: url("../image/context.jpg") !important;*/
    background-size: cover !important;
    background-position: top !important;
}

.customize-font-color{
    color: #219EBC;
}

