<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Rent</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="admin-home-page.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="car-page.html">Manage Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="driver-registration.html">Manage Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="car-page.html">Manage Rents</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="">

    <section class="d-flex gap-5 align-items-center flex-column p-5 mt-5">
        <div class="card text-center p-2 w-50">
            <div class="card-body">
                <h5 class="card-title">RID-001</h5>
                <p class="card-text">Customer NIC : 123456</p>
                <p class="card-text">Driver NIC : 123456</p>
                <p class="card-text">Lost Damage Payment : Bank Receipt 123456</p>
                <p class="card-text">Total Cost : 42000.00</p>
                <p class="card-text">Pick Up Date : 21/02/2023 | Pick Up Time : 12:24</p>
                <p class="card-text">Return Date : 25/02/2023 | Return Time : 12:24</p>
                <section>
                    <button class="btn btn-success me-2">Accept</button>
                    <button class="btn btn-warning">Deny</button>
                </section>
            </div>
        </div>
    </section>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<!--<script src="../controller/RentController.js"></script>-->

</body>
</html>