<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Admin | Dashboard</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body class="">

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-color">
        <div class="container-fluid">
            <a class="navbar-brand text-success" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="admin-home-page.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="car-page.html">Manage Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="driver-registration.html">Manage Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="car-page.html">Manage Rents</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>

    <div class="container-fluid" id="main-context">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-color">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 position-fixed">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline mt-5 py-2">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item nav-link align-middle px-0">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>

                        <li class="nav-item nav-link align-middle px-0" id="btnCustomer">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Customers</span>
                            </a>
                        </li>

                        <li class="nav-item nav-link align-middle px-0">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-car-front"></i> <span class="ms-1 d-none d-sm-inline">Manage Cars</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-person-bounding-box"></i> <span class="ms-1 d-none d-sm-inline">Manage Drivers</span>
                            </a>
                        </li>

                    </ul>
                    <hr>
                    <div class="pb-4">
                            <img src="https://github.com/mdo.png" alt="user" width="30" height="30"
                                 class="rounded-circle">
                            <p class="d-none d-sm-inline mx-1" id="user">User</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-3">

                <main class="mt-5" id="home">
                    <section class="cards p-5 col">
                        <div class="card mt-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Total Cars</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </section>
                </main>

                <main class="mt-5" id="manageCustomers">
                    <form class="row justify-content-between p-5 rounded-5" id="customerForm">
                        <div class="mb-3 col-md-5">
                            <label for="cusName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="cusName" name="name">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="cusEmail" name="email">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusNic" class="form-label">NIC</label>
                            <input type="text" class="form-control" id="cusNic" name="nic" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="cusUsername" name="username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusLicense" class="form-label">License Number</label>
                            <input type="text" class="form-control" id="cusLicense" name="license" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="cusPassword" name="password">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="cusAddress" name="address" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="cusRe-password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cusRe-password">
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="cusContact" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="cusContact" name="contact">
                        </div>

                        <div class=" col-md-5">
                            <div class="image-context border border-2 rounded-3" id="cusLicenseImgContext"></div>
                            <label for="cusLicenseImage" class="form-label">License Photo</label>
                            <input type="file" id="cusLicenseImage" class="form-control" name="licenseImage">
                        </div>

                        <div class="mb-3 col-md-5 d-flex flex-column">
                            <div class="image-context border border-2 rounded-3" id="cusNicImgContext"></div>
                            <label for="cusNicImage" class="form-label">NIC Photo</label>
                            <input type="file" id="cusNicImage" class="form-control" name="nicImage">
                        </div>

                        <div class="mt-5 col-md-5 d-flex flex-column">
                            <button type="button" class="btn btn-primary mt-3" id="btnSaveCustomer">Submit</button>
                        </div>

                    </form>
                </main>

                <main class="mt-5" id="manageCar">
                    <form class="row justify-content-between m-5 p-5 rounded-5 bg-white shadow-sm" id="carForm">
                        <div class="mb-3 col-md-5">
                            <label for="regNum" class="form-label">Register Number</label>
                            <input type="text" class="form-control" id="regNum" name="regNum">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="type" class="form-label">Type</label>
                            <select name="type" id="carType" class="form-control form-select">
                                <option value="Luxury">Luxury</option>
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="color" class="form-label">Color</label>
                            <input type="text" class="form-control" id="color" name="color">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="brand" name="brand">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="freeMileage" class="form-label">Free Mileage</label>
                            <div class="input-group form-control d-flex align-items-center justify-content-center" id="freeMileage">
                                <label for="dailyRate" class="form-label me-2">Daily</label>
                                <input type="number" class="form-control me-2" id="dailyRate" name="dailyRate"
                                       aria-describedby="emailHelp">
                                <label for="monthlyRate" class="form-label me-2">Monthly</label>
                                <input type="number" class="form-control input-group" id="monthlyRate" name="monthlyRate"
                                       aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="fuelType" class="form-label">Fuel Type</label>
                            <div class="form-check-inline form-control d-flex justify-content-center" id="fuelType">
                                <input class="form-check-input me-2" type="radio" name="fuelType" id="petrol" value="petrol">
                                <label for="petrol" class="form-label me-5">Petrol</label>
                                <input class="form-check-input me-2" type="radio" name="fuelType" id="diesel" value="diesel">
                                <label for="diesel" class="form-label">Diesel</label>
                            </div>
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="availability" class="form-label">Availability</label>
                            <div class="form-check-inline form-control d-flex justify-content-center" id="availability">
                                <label for="yes" class="form-label me-2">Yes</label>
                                <input class="form-check-input me-5" type="radio" name="availability" id="yes" value="yes">
                                <label for="no" class="form-label me-2">No</label>
                                <input class="form-check-input me-5" type="radio" name="availability" id="no" value="no">
                            </div>
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group form-control d-flex align-items-center justify-content-center" id="price">
                                <label for="dailyPriceRate" class="form-label me-2">Daily</label>
                                <input type="text" class="form-control me-2" id="dailyPriceRate" name="dailyPriceRate"
                                       aria-describedby="emailHelp">
                                <label for="monthlyPriceRate" class="form-label me-2">Monthly</label>
                                <input type="text" class="form-control input-group" id="monthlyPriceRate" name="monthlyPriceRate"
                                       aria-describedby="emailHelp">
                            </div>
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="transmission" class="form-label">Transmission Type</label>
                            <div class="form-check-inline form-control d-flex justify-content-center" id="transmission">
                                <input class="form-check-input me-2" type="radio" name="transmissionType" id="gear" value="gear">
                                <label for="gear" class="form-label me-5">Gear</label>
                                <input class="form-check-input me-2" type="radio" name="transmissionType" id="manual" value="manual">
                                <label for="manual" class="form-label">Manual</label>
                            </div>
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="extraKMPrice" class="form-label">Price Per Extra KM</label>
                            <input type="text" class="form-control" id="extraKMPrice" name="extraKMPrice">
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="passengers" class="form-label">Passengers</label>
                            <input type="text" class="form-control" id="passengers" name="passengers">
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="lostDamageCost" class="form-label">Lost Damage Cost</label>
                            <input type="text" class="form-control" id="lostDamageCost" name="lostDamageCost">
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="meterValue" class="form-label">Current Meter Value</label>
                            <input type="text" class="form-control" id="meterValue" name="meterValue">
                        </div>

                        <div class="col-12 row gap-3 justify-content-center input-group">

                            <aside class="d-flex justify-content-center align-items-center flex-lg-row flex-column gap-5 mb-2">
                                <div class="col-md-5 d-flex flex-column align-items-center">
                                    <div class="image-context border border-2 rounded-3" id="frontImgContext"></div>
                                    <label for="front" class="form-label">Front Photo</label>
                                    <input type="file" id="front" class="form-control" name="front">
                                </div>

                                <div class="col-md-5 d-flex flex-column align-items-center">
                                    <div class="image-context border border-2 rounded-3" id="backImgContext"></div>
                                    <label for="back" class="form-label">Back Photo</label>
                                    <input type="file" id="back" class="form-control" name="back">
                                </div>
                            </aside>

                            <aside class="d-flex justify-content-center flex-lg-row flex-column gap-5">
                                <div class="col-md-5 d-flex flex-column align-items-center">
                                    <div class="image-context border border-2 rounded-3" id="sideImgContext"></div>
                                    <label for="side" class="form-label">Side Photo</label>
                                    <input type="file" id="side" class="form-control" name="side">
                                </div>

                                <div class="col-md-5 d-flex flex-column align-items-center">
                                    <div class="image-context border border-2 rounded-3" id="interiorImgContext"></div>
                                    <label for="interior" class="form-label">Interior Photo</label>
                                    <input type="file" id="interior" class="form-control" name="interior">
                                </div>

                            </aside>

                        </div>

                        <div class="mt-5 col-md-5 d-flex flex-column">
                            <button type="button" class="btn btn-dark mt-3" id="btnSubmit">Submit</button>
                        </div>

                    </form>
                </main>

                <main class="mt-5" id="viewCar">
                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5" id="cars">



                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel1">Rent Car</h5>
                                    <button type="button" class="btn-close text-white bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Form -->
                                <div class="d-flex justify-content-center mt-4">
                                    <form id="requestForm" class="d-flex flex-column">
                                        <section class="d-flex justify-content-between flex-lg-row flex-column gap-2">
                                            <div class="mb-3">
                                                <label for="pickUpDate" class="form-label">Pick Up Date</label>
                                                <input type="date" class="form-control" name="pickUpDate" id="pickUpDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="pickUpTime" class="form-label">Pick Up Time</label>
                                                <input type="time" class="form-control" name="pickUpTime" id="pickUpTime">
                                            </div>
                                            <div class="mb-3">
                                                <label for="returnDate" class="form-label">Return Date</label>
                                                <input type="date" class="form-control" name="pickUpDate" id="returnDate">
                                            </div>
                                            <div class="mb-3">
                                                <label for="returnTime" class="form-label">Return Time</label>
                                                <input type="time" class="form-control" name="pickUpTime" id="returnTime">
                                            </div>
                                        </section>
                                        <section class="d-flex justify-content-between flex-lg-row flex-column">
                                            <div class="mb-3">
                                                <label for="lostDamageCost" class="form-label">Lost Damage Cost</label>
                                                <input type="text" class="form-control" name="lostDamageCost" id="lostDamage">
                                            </div>
                                            <div class="mb-3">
                                                <label for="carCost" class="form-label">Rent Cost</label>
                                                <input type="text" class="form-control" name="carCost" id="carCost">
                                            </div>
                                        </section>

                                        <section class="d-flex justify-content-between flex-lg-row flex-column align-items-center">
                                            <div class="mb-3">
                                                <label for="driverRequest" class="form-label form-check-label">I want a Driver</label>
                                                <input type="checkbox" class="form-check-input" name="driver" id="driverRequest">
                                            </div>
                                            <div class="mb-3">
                                                <label for="driverCost" class="form-label">Driver Cost</label>
                                                <input type="text" class="form-control" name="driverCost" id="driverCost">
                                            </div>
                                        </section>

                                        <section class="d-flex justify-content-between flex-lg-row flex-column align-items-center">
                                            <div class="mb-3">
                                                <label for="cost" class="form-label">Total Cost</label>
                                                <input type="text" class="form-control" name="cost" id="cost">
                                            </div>
                                        </section>

                                        <section class="d-flex justify-content-between flex-lg-row flex-column align-items-center">
                                            <div class="mb-3 col col-12">
                                                <label for="description" class="form-label form-check-label">Proof the Lost Damage Payment</label>
                                                <input type="text" class="form-control" name="description" id="desc">
                                            </div>
                                        </section>

                                    </form>
                                </div>

                                <p class="p-5 small text-secondary text-center">You should pay the lost damage cost to rent cars and the car cost can be paid after returning the car.</p>

                                <div class="modal-footer">
                                    <button name="" type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="btnRequestCar" data-bs-dismiss="modal">Request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <main class="mt-5" id="manageDriver">
                    <form class="row justify-content-between p-5 rounded-5" id="driverForm">
                        <div class="mb-3 col-md-5">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="nic" class="form-label">NIC</label>
                            <input type="text" class="form-control" id="nic" name="nic" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="license" class="form-label">License Number</label>
                            <input type="text" class="form-control" id="license" name="license" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="re-password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="re-password">
                        </div>

                        <div class="mb-3 col-md-5">
                            <label for="contact" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>

                        <div class=" col-md-5">
                            <div class="image-context border border-2 rounded-3" id="licenseImgContext"></div>
                            <label for="licenseImage" class="form-label">License Photo</label>
                            <input type="file" id="licenseImage" class="form-control" name="licenseImage">
                        </div>

                        <div class="mt-5 col-md-5 d-flex flex-column">
                            <button type="button" class="btn btn-primary mt-3" id="btnSaveDriver">Submit</button>
                        </div>

                    </form>
                </main>

                <main class="mt-5" id="drivers">
                    <section class="p-5 shadow-sm w-100 overflow-scroll">
                        <table class="table table-striped table-responsive-xxl table-responsive">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">NIC</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">License Number</th>
                                <th scope="col">License Photo</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </section>
                </main>

                <main class="mt-5" id="rents">
                    <section class="d-flex gap-5 align-items-center p-5 mt-5" id="rent-context">

                    </section>

                    <!-- Modal -->
                    <div class="modal fade" id="paymentModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Payments</h5>
                                    <button type="button" class="btn-close text-white bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Form -->
                                <div class="d-flex justify-content-center mt-4">
                                    <form id="paymentForm" class="d-flex flex-column">

                                        <section class="d-flex justify-content-between flex-lg-row flex-column gap-2">
                                            <div class="mb-3">
                                                <label for="total" class="form-label">Total</label>
                                                <input type="text" class="form-control" name="total" id="total">
                                            </div>
                                            <div class="mb-3">
                                                <label for="cash" class="form-label">Cash</label>
                                                <input type="text" class="form-control" name="cash" id="cash">
                                            </div>
                                        </section>

                                        <section class="d-flex justify-content-between flex-lg-row flex-column align-items-center">
                                            <div class="mb-3">
                                                <label for="type" class="form-label">Payment Type</label>
                                                <select name="type" id="type" class="form-select">
                                                    <option value="Lost_Damage_Payment">Lost Damage Payment</option>
                                                    <option value="Normal_Payment">Normal Payment</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="balance" class="form-label">Balance</label>
                                                <input type="text" class="form-control" name="balance" id="balance">
                                            </div>
                                        </section>

                                        <section class="d-flex justify-content-between flex-lg-row flex-column align-items-center">
                                            <div class="mb-3 col col-12">
                                                <label for="description" class="form-label form-check-label">Description</label>
                                                <input type="text" class="form-control" name="description" id="description">
                                            </div>
                                        </section>

                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button name="" type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="btnPayment" data-bs-dismiss="modal">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<script src="../controller/ManageAdminController.js"></script>

</body>
</html>