<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Rents</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="m-md-5">
    <div class="mt-5 p-3"></div>
    <form class="row justify-content-between p-5 rounded-5" id="carForm">
        <div class="mb-3 col-md-5">
            <label for="regNum" class="form-label">Register Number</label>
            <input type="text" class="form-control" id="regNum" name="regNum">
        </div>
        <div class="mb-3 col-md-5">
            <label for="type" class="form-label">Type</label>
            <select name="type" id="type" class="form-control form-select">
                <option value="Luxury">Luxury</option>
                <option value="General">General</option>
            </select>
        </div>
        <div class="mb-3 col-md-5">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" name="color">
        </div>
        <div class="mb-3 col-md-5">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" class="form-control" id="brand" name="brand">
        </div>
        <div class="mb-3 col-md-5">
            <label for="freeMileage" class="form-label">Free Mileage</label>
            <div class="input-group form-control d-flex align-items-center justify-content-center" id="freeMileage">
                <label for="dailyRate" class="form-label me-2">Daily</label>
                <input type="number" class="form-control me-2" id="dailyRate" name="dailyRate"
                       aria-describedby="emailHelp">
                <label for="monthlyRate" class="form-label me-2">Monthly</label>
                <input type="number" class="form-control input-group" id="monthlyRate" name="monthlyRate"
                       aria-describedby="emailHelp">
            </div>
        </div>
        <div class="mb-3 col-md-5">
            <label for="fuelType" class="form-label">Fuel Type</label>
            <div class="form-check-inline form-control d-flex justify-content-center" id="fuelType">
                <input class="form-check-input me-2" type="radio" name="fuelType" id="petrol" value="petrol">
                <label for="petrol" class="form-label me-5">Petrol</label>
                <input class="form-check-input me-2" type="radio" name="fuelType" id="diesel" value="diesel">
                <label for="diesel" class="form-label">Diesel</label>
            </div>
        </div>

        <div class="mb-3 col-md-5">
            <label for="availability" class="form-label">Availability</label>
            <div class="form-check-inline form-control d-flex justify-content-center" id="availability">
                <label for="yes" class="form-label me-2">Yes</label>
                <input class="form-check-input me-5" type="radio" name="availability" id="yes" value="yes">
                <label for="no" class="form-label me-2">No</label>
                <input class="form-check-input me-5" type="radio" name="availability" id="no" value="no">
            </div>
        </div>

        <div class="mb-3 col-md-5">
            <label for="price" class="form-label">Price</label>
            <div class="input-group form-control d-flex align-items-center justify-content-center" id="price">
                <label for="dailyPriceRate" class="form-label me-2">Daily</label>
                <input type="text" class="form-control me-2" id="dailyPriceRate" name="dailyPriceRate"
                       aria-describedby="emailHelp">
                <label for="monthlyPriceRate" class="form-label me-2">Monthly</label>
                <input type="text" class="form-control input-group" id="monthlyPriceRate" name="monthlyPriceRate"
                       aria-describedby="emailHelp">
            </div>
        </div>

        <div class="mb-3 col-md-5">
            <label for="transmission" class="form-label">Transmission Type</label>
            <div class="form-check-inline form-control d-flex justify-content-center" id="transmission">
                <input class="form-check-input me-2" type="radio" name="transmissionType" id="gear" value="gear">
                <label for="gear" class="form-label me-5">Gear</label>
                <input class="form-check-input me-2" type="radio" name="transmissionType" id="manual" value="manual">
                <label for="manual" class="form-label">Manual</label>
            </div>
        </div>

        <div class="mb-3 col-md-5">
            <label for="extraKMPrice" class="form-label">Price Per Extra KM</label>
            <input type="text" class="form-control" id="extraKMPrice" name="extraKMPrice">
        </div>

        <div class="mb-3 col-md-5">
            <label for="passengers" class="form-label">Passengers</label>
            <input type="text" class="form-control" id="passengers" name="passengers">
        </div>

        <div class="mb-3 col-md-5">
            <label for="lostDamageCost" class="form-label">Lost Damage Cost</label>
            <input type="text" class="form-control" id="lostDamageCost" name="lostDamageCost">
        </div>

        <div class="mb-3 col-md-5">
            <label for="meterValue" class="form-label">Current Meter Value</label>
            <input type="text" class="form-control" id="meterValue" name="meterValue">
        </div>

        <form name="image" class="col-12 row gap-3 justify-content-center">

            <aside class="d-flex justify-content-center align-items-center flex-lg-row flex-column gap-5 mb-2">
                <div class="col-md-5 d-flex flex-column align-items-center">
                    <div class="image-context border border-2 rounded-3" id="frontImgContext"></div>
                    <label for="front" class="form-label">Front Photo</label>
                    <input type="file" id="front" class="form-control" name="photos">
                </div>

                <div class="col-md-5 d-flex flex-column align-items-center">
                    <div class="image-context border border-2 rounded-3" id="backImgContext"></div>
                    <label for="back" class="form-label">Back Photo</label>
                    <input type="file" id="back" class="form-control" name="photos">
                </div>
            </aside>

            <aside class="d-flex justify-content-center flex-lg-row flex-column gap-5">
                <div class="col-md-5 d-flex flex-column align-items-center">
                    <div class="image-context border border-2 rounded-3" id="sideImgContext"></div>
                    <label for="side" class="form-label">Side Photo</label>
                    <input type="file" id="side" class="form-control" name="photos">
                </div>

                <div class="col-md-5 d-flex flex-column align-items-center">
                    <div class="image-context border border-2 rounded-3" id="interiorImgContext"></div>
                    <label for="interior" class="form-label">Interior Photo</label>
                    <input type="file" id="interior" class="form-control" name="photos">
                </div>

            </aside>

        </form>

        <div class="mt-5 col-md-5 d-flex flex-column">
            <button type="button" class="btn btn-primary mt-3" id="btnSubmit">Submit</button>
        </div>

    </form>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Car Controller -->
<script src="../controller/CarController.js"></script>

</body>
</html>