<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Cars</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Rents</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="p-5">

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
            <div class="card">
                <img src="../assets/image/background.png" class="card-img-top" alt="car">

                <div class="card-body">
                    <h5 class="card-title">BMW</h5>

                    <section class="d-flex gap-3 justify-content-between">
                        <p class="card-text"><i class="bi bi-fuel-pump-diesel-fill me-1 text-success"></i>Petrol</p>
                        <p class="card-text"><i class="bi bi-palette-fill me-1 text-danger"></i>Blue</p>
                        <p class="card-text"><i class="bi bi-gear-wide-connected me-1 text-info"></i>Auto</p>
                        <p class="card-text"><i class="bi bi-people-fill me-1 text-primary"></i>4</p>
                    </section>

                    <section class="row justify-content-between">
                        <p class="card-text col col-md-5">Free Mileage</p>
                        <p class="card-text text-secondary col col-lg-3 mb-lg-0 mb-4">5km Daily</p>
                        <p class="card-text text-secondary col col-lg-3 mb-lg-0 mb-4">20km Monthly</p>
                    </section>

                    <section class="row justify-content-between">
                        <p class="card-text col col-4">Price</p>
                        <p class="card-text text-secondary col col-lg-4 mb-lg-0 mb-4">5000.00 LKR Daily</p>
                        <p class="card-text text-secondary col col-lg-4 mb-lg-0 mb-4">25000.00LKR Monthly</p>
                    </section>

                    <section class="row justify-content-between">
                        <p class="card-text col col-lg-4">Lost Damage Cost</p>
                        <p class="card-text text-secondary col">15000.00 LKR</p>
                    </section>

                        <p class="card-text text-secondary"><i class="bi bi-car-front me-1"></i>REG-001</p>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../assets/image/background.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CHR</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../assets/image/background.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../assets/image/background.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alto</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<!--<script src="../controller/CarController.js"></script>-->

</body>
</html>