<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Drivers</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="m-md-5">
    <form class="row justify-content-between shadow-lg p-5 rounded-5" id="customerForm">
        <div class="mb-3 col-md-5">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3 col-md-5">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3 col-md-5">
            <label for="nic" class="form-label">NIC</label>
            <input type="text" class="form-control" id="nic" name="nic" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-md-5">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-md-5">
            <label for="license" class="form-label">License Number</label>
            <input type="text" class="form-control" id="license" name="license" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-md-5">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 col-md-5">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-md-5">
            <label for="re-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="re-password">
        </div>

        <div class="mb-3 col-md-5">
            <label for="contact" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="contact" name="contact">
        </div>

        <div class=" col-md-5">
            <div class="image-context border border-2 rounded-3" id="licenseImgContext"></div>
            <label for="licenseImage" class="form-label">License Photo</label>
            <input type="file" id="licenseImage" class="form-control" name="licenseImage">
        </div>

        <div class="mb-3 col-md-5 d-flex flex-column">
            <div class="image-context border border-2 rounded-3" id="nicImgContext"></div>
            <label for="nicImage" class="form-label">NIC Photo</label>
            <input type="file" id="nicImage" class="form-control" name="nicImage">
        </div>

        <div class="mt-5 col-md-5 d-flex flex-column">
            <button type="button" class="btn btn-primary mt-3" id="btnSubmit">Submit</button>
        </div>

    </form>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>

<!-- Controller -->
<script src="../controller/CustomerController.js"></script>

</body>
</html>