<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Admin | Dashboard</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body class="bg-color">

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container-fluid">
            <a class="navbar-brand text-success" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            </div>
        </div>
    </nav>
</header>

<main class="">

    <div class="container-fluid" id="main-context">
        <div class="row flex-nowrap bg-white">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100 position-fixed bg-white">
                    <a href="/"
                       class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline mt-5 py-2">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 p-5 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item nav-link align-middle px-0">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>

                        <li class="nav-item nav-link align-middle px-0" id="btnCustomer">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-people"></i> <span
                                    class="ms-1 d-none d-sm-inline">Manage Customers</span>
                            </a>
                        </li>

                        <li class="nav-item nav-link align-middle px-0" id="btnCar">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-car-front"></i> <span
                                    class="ms-1 d-none d-sm-inline">Manage Cars</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0" id="btnDriver">
                                <i class="fs-4 bi-person-bounding-box"></i> <span class="ms-1 d-none d-sm-inline">Manage Drivers</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0" id="btnRent">
                                <i class="fs-4 bi-cart2"></i> <span class="ms-1 d-none d-sm-inline">Manage Rents</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0" id="btnManagePayment">
                                <i class="fs-4 bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Payments</span>
                            </a>
                        </li>

                    </ul>
                    <hr>
                    <div class="pb-4">
                        <img src="https://github.com/mdo.png" alt="user" width="30" height="30"
                             class="rounded-circle">
                        <p class="d-none d-sm-inline mx-1" id="user">User</p>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="row m-t-25" bis_skin_checked="1">
                    <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                        <div class="overview-item overview-item--c1" bis_skin_checked="1">
                            <div class="overview__inner" bis_skin_checked="1">
                                <div class="overview-box clearfix" bis_skin_checked="1">
                                    <div class="icon" bis_skin_checked="1">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                    <div class="text" bis_skin_checked="1">
                                        <h2>10368</h2>
                                        <span>members online</span>
                                    </div>
                                </div>
                                <div class="overview-chart" bis_skin_checked="1"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" bis_skin_checked="1"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0" bis_skin_checked="1"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:200%;height:200%;left:0; top:0" bis_skin_checked="1"></div></div></div>
                                    <canvas id="widgetChart1" height="130" style="display: block; width: 166px; height: 130px;" width="166" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                        <div class="overview-item overview-item--c2" bis_skin_checked="1">
                            <div class="overview__inner" bis_skin_checked="1">
                                <div class="overview-box clearfix" bis_skin_checked="1">
                                    <div class="icon" bis_skin_checked="1">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                    <div class="text" bis_skin_checked="1">
                                        <h2>388,688</h2>
                                        <span>items solid</span>
                                    </div>
                                </div>
                                <div class="overview-chart" bis_skin_checked="1"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" bis_skin_checked="1"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0" bis_skin_checked="1"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:200%;height:200%;left:0; top:0" bis_skin_checked="1"></div></div></div>
                                    <canvas id="widgetChart2" height="115" style="display: block; width: 166px; height: 115px;" width="166" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                        <div class="overview-item overview-item--c3" bis_skin_checked="1">
                            <div class="overview__inner" bis_skin_checked="1">
                                <div class="overview-box clearfix" bis_skin_checked="1">
                                    <div class="icon" bis_skin_checked="1">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                    <div class="text" bis_skin_checked="1">
                                        <h2>1,086</h2>
                                        <span>this week</span>
                                    </div>
                                </div>
                                <div class="overview-chart" bis_skin_checked="1"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" bis_skin_checked="1"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0" bis_skin_checked="1"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:200%;height:200%;left:0; top:0" bis_skin_checked="1"></div></div></div>
                                    <canvas id="widgetChart3" height="115" style="display: block; width: 166px; height: 115px;" width="166" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                        <div class="overview-item overview-item--c4" bis_skin_checked="1">
                            <div class="overview__inner" bis_skin_checked="1">
                                <div class="overview-box clearfix" bis_skin_checked="1">
                                    <div class="icon" bis_skin_checked="1">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                    <div class="text" bis_skin_checked="1">
                                        <h2>$1,060,386</h2>
                                        <span>total earnings</span>
                                    </div>
                                </div>
                                <div class="overview-chart" bis_skin_checked="1"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" bis_skin_checked="1"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0" bis_skin_checked="1"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;" bis_skin_checked="1"><div style="position:absolute;width:200%;height:200%;left:0; top:0" bis_skin_checked="1"></div></div></div>
                                    <canvas id="widgetChart4" height="114" style="display: block; width: 166px; height: 114px;" width="166" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<script src="../controller/ManageAdminController.js"></script>

</body>
</html>