<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Page</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>

<header class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Easy Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
                <form class="d-flex align-items-center" role="search">
                    <div class="rounded rounded-circle bg-dark me-2" style="width: 50px; height: 50px;"></div>
                    <p class="m-0 h5" id="username"></p>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="p-5">
    <section class="mt-5 shadow-sm">
        <table class="table table-striped">
            <thead class="tblDriverSchedule table-dark">
                <tr>
                    <th>Rent Id</th>
                    <th>Pick Up Date</th>
                    <th>Pick Up Time</th>
                    <th>Return Date</th>
                    <th>Return Time</th>
                    <th>Car Reg. Number</th>
                </tr>
            </thead>
            <tbody id="tblDriverSchedule">

            </tbody>
        </table>
    </section>
</main>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<script src="../controller/DriverScheduleController.js"></script>

</body>
</html>