<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Car Rental</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body class="d-flex align-items-center justify-content-center min-vw-100 min-vh-100" style="background: #E2E5EC">

<main class="w-75 h-75 rounded rounded-5" style="background: url(../assets/image/main.png); background-position: top; background-size: cover;">

</main>


<!--<header>-->
<!--    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="#">Easy Car Rental</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Cars</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Register</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Drivers</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <form class="d-flex" role="search">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<!--<main>-->
<!--    <a href="#" class="btn btn-primary">Login</a>-->
<!--</main>-->

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

</body>
</html>