<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>

<body class="d-flex justify-content-center align-items-center">

<form class="shadow d-flex flex-column p-5 rounded rounded-5" id="loginForm">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="email" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3 mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="button" id="btnLogin" class="btn btn-primary col col-md-5">Login</button>
</form>

<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<script src="../controller/LoginController.js"></script>

</body>

</html>