<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS For Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta name="viewport" content="width=device-width initial-scale=1">

</head>
<body>


<!-- JS For Bootstrap -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- JS For jQuery -->
<script src="../assets/js/jquery-3.6.1.min.js"></script>

<!-- Util -->
<script src="../util/LoadImageUtil.js"></script>
<script src="../util/BaseUrl.js"></script>

<!-- Controller -->
<script src="../controller/RentController.js"></script>

</body>
</html>